html, body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

#stopButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* markers */
#scanning.hidden {
    display: none;
}

#scanning {
    margin-top: 100px;
    position: relative;
    height: 390px;
    overflow: hidden;
}

#scanning .inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#scanning img {
    opacity: 0.6;
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;
}

#scanning .inner .scanline {
    position: absolute;
    width: 20%;
    height: 7px;
    background: white;
    animation: move 2s linear infinite;
    left: 50%;
    transform: translate(-50%);
}

/* @keyframes move {
0%, 100% { top: 30% }
50% { top: calc(100% - 10px) }
} */
